---
  import MainHead from '../components/MainHead.astro';
  import Header from '../components/Header.vue'
  import Cover from '../components/Cover.vue'
  import Footer from '../components/Footer.vue'
  const { content } = Astro.props;
---
  <html lang='fr'>
  <head>
    <MainHead title={content.title + ' — Joshua L.J. Vachon'} description={content.extrait} />
    <script src="https://kit.fontawesome.com/605c15ecea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
  </head>
  <body>
      <Header class="shadow-2xl"/>
      <Cover img={content.img} titre={content.title} date={content.createdAt} />
      <div class="prose prose-xl mx-auto bg-gradient-to-b from-white p-10 -mt-10 relative z-50 rounded-md shadow-2xl">
        <p class="font-bold ">{content.extrait}</p>
        <slot>
        </slot>
      </div>
      <Footer/>
  </body>
</html>